# OpenAI

HOST, cdn.auth0.com, OpenAI
HOST, openaiapi-site.azureedge.net, OpenAI
HOST, challenges.cloudflare.com, OpenAI
HOST-SUFFIX, ai.com, OpenAI
HOST-SUFFIX, openai.com, OpenAI
HOST-SUFFIX, vimeo.com, OpenAI
HOST-SUFFIX, vimeocdn.com, OpenAI
HOST-SUFFIX, hcaptcha.com, OpenAI
HOST-SUFFIX, akamaized.com, OpenAI
HOST-SUFFIX, identrust.com, OpenAI
HOST-SUFFIX, openaicom.imgix.net, OpenAI, OpenAI
HOST-SUFFIX, openaicom-api-bdcpf8c6d2e9atf6.z01.azurefd.net, OpenAI, OpenAI
HOST-SUFFIX, openaicomproductionae4b.blob.core.windows.net, OpenAI, OpenAI